In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

In [2]:
df=pd.read_csv('Employee.csv')
df.head()

,Education,JoiningYear,City,PaymentTier,Age,Gender,EverBenched,ExperienceInCurrentDomain,LeaveOrNot
0,Bachelors,2017,Bangalore,3,34,Male,No,0,0
1,Bachelors,2013,Pune,1,28,Female,No,3,1
2,Bachelors,2014,New Delhi,3,38,Female,No,2,0
3,Masters,2016,Bangalore,3,27,Male,No,5,1
4,Masters,2017,Pune,3,24,Male,Yes,2,1

In [3]:
df.shape

(4653, 9)

In [4]:
df['Education'].value_counts()

Education
Bachelors    3601
Masters       873
PHD           179
Name: count, dtype: int64

In [5]:
label_encoder = LabelEncoder()

df['Edu'] = label_encoder.fit_transform(df['Education'])

In [6]:
df.head()

,Education,JoiningYear,City,PaymentTier,Age,Gender,EverBenched,ExperienceInCurrentDomain,LeaveOrNot,Edu
0,Bachelors,2017,Bangalore,3,34,Male,No,0,0,0
1,Bachelors,2013,Pune,1,28,Female,No,3,1,0
2,Bachelors,2014,New Delhi,3,38,Female,No,2,0,0
3,Masters,2016,Bangalore,3,27,Male,No,5,1,1
4,Masters,2017,Pune,3,24,Male,Yes,2,1,1

In [7]:
label_encoder = LabelEncoder()

df['city'] = label_encoder.fit_transform(df['City'])

In [8]:
df.head()

,Education,JoiningYear,City,PaymentTier,Age,Gender,EverBenched,ExperienceInCurrentDomain,LeaveOrNot,Edu,city
0,Bachelors,2017,Bangalore,3,34,Male,No,0,0,0,0
1,Bachelors,2013,Pune,1,28,Female,No,3,1,0,2
2,Bachelors,2014,New Delhi,3,38,Female,No,2,0,0,1
3,Masters,2016,Bangalore,3,27,Male,No,5,1,1,0
4,Masters,2017,Pune,3,24,Male,Yes,2,1,1,2

In [9]:
label_encoder = LabelEncoder()

df['gender'] = label_encoder.fit_transform(df['Gender'])

In [10]:
df.head()

,Education,JoiningYear,City,PaymentTier,Age,Gender,EverBenched,ExperienceInCurrentDomain,LeaveOrNot,Edu,city,gender
0,Bachelors,2017,Bangalore,3,34,Male,No,0,0,0,0,1
1,Bachelors,2013,Pune,1,28,Female,No,3,1,0,2,0
2,Bachelors,2014,New Delhi,3,38,Female,No,2,0,0,1,0
3,Masters,2016,Bangalore,3,27,Male,No,5,1,1,0,1
4,Masters,2017,Pune,3,24,Male,Yes,2,1,1,2,1

In [11]:
label_encoder = LabelEncoder()

df['benched'] = label_encoder.fit_transform(df['EverBenched'])

In [12]:
df.shape

(4653, 13)

In [13]:
df.head()

,Education,JoiningYear,City,PaymentTier,Age,Gender,EverBenched,ExperienceInCurrentDomain,LeaveOrNot,Edu,city,gender,benched
0,Bachelors,2017,Bangalore,3,34,Male,No,0,0,0,0,1,0
1,Bachelors,2013,Pune,1,28,Female,No,3,1,0,2,0,0
2,Bachelors,2014,New Delhi,3,38,Female,No,2,0,0,1,0,0
3,Masters,2016,Bangalore,3,27,Male,No,5,1,1,0,1,0
4,Masters,2017,Pune,3,24,Male,Yes,2,1,1,2,1,1

In [14]:
columns_to_drop = ['Education', 'City', 'Age', 'Gender', 'EverBenched']
df = df.drop(columns=columns_to_drop)

In [15]:
df.head()

,JoiningYear,PaymentTier,ExperienceInCurrentDomain,LeaveOrNot,Edu,city,gender,benched
0,2017,3,0,0,0,0,1,0
1,2013,1,3,1,0,2,0,0
2,2014,3,2,0,0,1,0,0
3,2016,3,5,1,1,0,1,0
4,2017,3,2,1,1,2,1,1

In [16]:
df.shape

(4653, 8)

In [17]:
y=df['LeaveOrNot']
X=df.drop(['LeaveOrNot'],axis=1)

In [18]:
X.shape

(4653, 7)

In [19]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,stratify=y,random_state=800)

In [20]:
X_train.shape

(3722, 7)

In [21]:
from sklearn.linear_model import SGDClassifier

In [22]:
sgd_clf = SGDClassifier(max_iter=3, tol=None, random_state=42)

In [23]:
sgd_clf.fit(X_train, y_train)

SGDClassifier(max_iter=3, random_state=42, tol=None)

In [24]:
y_pred = sgd_clf.predict(X_test)

In [25]:
from sklearn.metrics import accuracy_score
# Calculate accuracy
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy * 100:.2f}%")

Accuracy: 34.37%